<!-- Page Content -->
<div class="page-content">
  <div class="page-header d-flex flex-column flex-md-row align-items-md-center">
      <div class="page-header-left flex-fill">
          <div class="page-header-title d-flex">
              <div class="page-info mt-3 ml-0">
                <h5 class="page-title">Answer List</h5>
              </div>
          </div>
      </div>
  </div>


  <!-- Section Header -->
  <div class="section-header d-md-flex align-items-center">
    <div class="section-header-left flex-fill">
      <a href="<%= users_quizzes_path %>" class="page-btn-link">
        <i class="icon icon-reply"></i>
        Back to Quiz List
      </a>
    </div>
  </div>
  <!-- / Section Header -->

  <div class="table-wrapper table-responsive">
    <table id="contact-groups" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Marks</th>
          <% if @quiz.q_type == 'classic' %>
            <th scope="col">Action</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @quiz.quiz_answers.each do |qa| %>
          <tr>
            <td scope="col"><%= qa.user.name %></td>
            <% if qa.total_marks.nil? %>
              <td scope="col">Pending</td>
            <% else %>
              <td scope="col"><%= qa.total_marks %></td>
            <% end %>
            <% if @quiz.q_type == 'classic' %>
              <td class="table-action">
                <%= link_to 'Mark', users_quiz_mark_path(@quiz.id, qa.id), class: 'btn btn-info', data: { turbolinks: false } %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
